body {
    background-color: #2C2141;
    min-height: 100vh;
    align-items: center;
 justify-content: center;
 display: flex;
}
main{
 background-color: #F8F8F8;
 width: 664px;
 border-radius: 10px;

}
div{
    padding: 65px 35px 35px 35px;
}
.card{
    display: flex;
    align-items: flex-start;
}
.card--header{
  margin: 0px;
}
.card--position{
    margin: 0px;
    font-style: italic;
}
.card--name{
    margin: 0px;
}
.card--picture{
    width: 296px;
    padding: 35px;
    border-radius: 120px;
  
}
.card--links{
    color: red;
    text-decoration: none;
}
.special{
    color: orange;
}